input {
    padding: 0.5em;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    font-size: 1em;
    background-color: skyblue;
    color: yellow;
  }

  h1{
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: red;
    font-style: italic;
  }